@model IEnumerable<_3DModels.Models.Model>

@{
    ViewBag.Title = "Home";
}

<h2></h2>

<div style="margin-top:20px">
    <h3 class="text-muted"><em>#@TempData["tag"].ToString()<em></h3>
    @foreach (var item in Model)
    {
        if (item.Tag.Contains(TempData["tag"].ToString()))
        {
            <a href='@Url.Action("ViewSpecificModel", "Home", new { id = item.Modelid })'>
                <img style="height: 100px; width: 100px; display: inline;" src=@item.ImagePath class="spells zoom " alt="Card image">
            </a>
        }
    }
</div>
<div style="margin-top:20px">
    <h3 class="text-muted">#@TempData["tag2"].ToString()</h3>
    @foreach (var item2 in Model)
    {

        if (item2.Tag.Contains(TempData["tag2"].ToString()))
        {
            <a href='@Url.Action("ViewSpecificModel", "Home", new { id = item2.Modelid })'>
                <img style="height: 100px; width: 100px; display: inline;" src=@item2.ImagePath class="spells zoom " alt="Card image">
            </a>
        }
    }
</div>
<div style="margin-top:20px">
    <h3 class="text-muted">#@TempData["tag3"].ToString()</h3>
    @foreach (var item3 in Model)
    {

        if (item3.Tag.Contains(TempData["tag3"].ToString()))
        {

            <a href='@Url.Action("ViewSpecificModel", "Home", new { id = item3.Modelid })'>
                <img style="height: 100px; width: 100px; display: inline;" src=@item3.ImagePath class="spells zoom " alt="Card image">
            </a>

        }
    }
</div>